{% extends 'base.html.twig' %}

{% block body %}
    <form method="post" action="{{ url('addLog') }}" class="form-horizontal">
        <div class="form-group">
            <label for="path" class="col-sm-2 control-label">Path to log file:</label>
            <div class="col-sm-4">
                <input type="text" name="path" class="form-control1" id="focusedinput" placeholder="Path">
            </div>
            <div class="col-sm-6"></div>
        </div>
        <div class="form-group">
            <label for="linesToRead" class="col-sm-2 control-label">Number of lines to read:</label>
            <div class="col-sm-4">
                <input type="text" name="linesToRead" class="form-control1" id="focusedinput" placeholder="Lines">
            </div>
            <div class="col-sm-6"></div>
        </div>
        <div class="form-group">
            <label for="bufferLength" class="col-sm-2 control-label">Buffer length:</label>
            <div class="col-sm-4">
                <input type="text" name="bufferLength" class="form-control1" id="focusedinput" placeholder="Lines">
            </div>
            <div class="col-sm-6"></div>
        </div>
        <button class="btn-success btn">Submit</button>
    </form>
{% endblock %}
